<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skills Summary</title>
</head>
<body>
    <h1>Skills Summary as of <%= time %></h1>
        <ul>
          <% skills.forEach(function(t, idx) { %>
            <li>
                <a href="/skills/<%= idx %>"><%= t.lang %></a> : 
                <%= t.level %>
            </li>
          <% }); %>
        </ul>
        <a href="skills/new">Add a New Skill</a>
</body>
</html>